body{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url(https://vanilla-js-basic-project-6-modal.netlify.app/hero.jpeg);
}
.Project1{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center; 
}
.Project2{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon{
    margin-block-end: 30px;
}
.open{
    display: flex;
}


